pathlib
waitress
python-dotenv
flask
Flask-Script
flask-restplus
werkzeug~=0.16.1
psycopg2
Flask-SQLAlchemy
Flask-Migrate
marshmallow-sqlalchemy
git+git://github.com/Guya-LTD/python-logstash.git#egg=python-logstash